name: example
description: Example for custom rating bar.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.18.4 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  custom_rating_bar:
    # When depending on this package from a real application you should use:
    #   app_usage: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
